In [1]:
# Change the current directory to the one in which you have stored the datasets.
import os 
os.chdir ('C:/Users...')

In [2]:
# Finding the Meaning

In [3]:
# The third stage of data analysis is actually analyzing the data. Finding
# meaning within your data can be difficult without the right tools. In this
# section, we look at some of the tools available to the Python user

In [4]:
# With just a few lines of code, you will be able to do the following
# analysis:
# • Compute descriptive statistics
# • Correlation
# • Linear regression

In [5]:
# Computing Aggregate Statistics

In [6]:
# As you may have seen in the last chapter, it is easy to get some summary
# statistics by using describe. Let’s take a look at how we can find those
# values directly.

In [7]:
# First, let’s create some data (Listing 4-1).

In [8]:
# Listing 4-1. Creating Dataset for Statistics
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = zip(names,grades)
df = pd.DataFrame(data=GradeList,
 columns=['Names','Grades'])
df

     Names  Grades
0      Bob      76
1  Jessica      95
2     Mary      77
3     John      78
4      Mel      99

In [9]:
# Once that is set up, we can take a look at some statistics (Listing 4-2).

In [11]:
# Listing 4-2. Computing Aggregate Statistics
df['Grades'].count() # number of values

5

In [12]:
df['Grades'].mean() # arithmetic average

85.0

In [13]:
df['Grades'].std() # standard deviation

11.067971810589327

In [14]:
df['Grades'].min() # minimum

76

In [15]:
df['Grades'].max() # maximum

99

In [16]:
df['Grades'].quantile(.25) # first quartile

77.0

In [17]:
df['Grades'].quantile(.5) # second quartile

78.0

In [18]:
df['Grades'].quantile(.75) # third quartile

95.0

In [19]:
# Note If you tried to execute the previous code in one cell all at
# the same time, the only thing you would see is the output of the
# .quantile() function. You have to try them one by one. I simply
# grouped them all together for reference purposes. OK?

In [20]:
# It is important to note that the mean is not the only measure of central
# tendency. See Listing 4-3 for other measures.

In [21]:
# Listing 4-3. Other Measures of Central Tendency
# computes the arithmetic average of a column
# mean = dividing the sum by the number of values
df['Grades'].mean()

85.0

In [22]:
# finds the median of the values in a column
# median = the middle value if they are sorted in order
df['Grades'].median()

78.0

In [23]:
# finds the mode of the values in a column
# mode = the most common single value
df['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [24]:
# And if you need to compute standard deviation, you might also need
# variance (Listing 4-4).

In [25]:
# Listing 4-4. Computing Variance
# computes the variance of the values in a column
df['Grades'].var()

122.5

In [26]:
# Finally, you don’t have to specify the column to compute the statistics.
# If you just run it against the whole dataframe, you will get the function to
# run on all applicable columns (Listing 4-5).

In [27]:
# Listing 4-5. Computing Variance on All Numeric Columns
df.var()

Grades    122.5
dtype: float64

In [ ]:
# Your Turn!!! (Assignment 5)
# Of course, in our dataset we only have one column. Try creating a
# dataframe and computing summary statistics using the dataset in
# Listing 4-6.

In [3]:
# Listing 4-6. Starting Dataset
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

In [29]:
# Computing Aggregate Statistics on Matching Rows

In [30]:
# It is possible to compute descriptive statistics on just the rows that match
# certain criteria. First, let’s create some data (Listing 4-7).

In [31]:
# Listing 4-7. Creating Dataset
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bs = [1,1,0,0,1]
ms = [2,1,0,0,0]
phd = [0,1,0,0,0]
GradeList = zip(names,grades,bs,ms,phd)
df = pd.DataFrame(data=GradeList,
 columns=['Name','Grade','BS','MS','PhD'])
df
df['Grades'].mean()
df['Grades'].median()
df['Grades'].mode()

      Name  Grade  BS  MS  PhD
0      Bob     76   1   2    0
1  Jessica     95   1   1    1
2     Mary     77   0   0    0
3     John     78   0   0    0
4      Mel     99   1   0    0

In [32]:
# Ok, we have covered how to find the rows that match a set of criteria.
# We have also covered how to compute descriptive statistics, both all at
# once and one by one. If you put those two together, you will be able to find
# the statistics of the data that matches certain criteria

In [33]:
# So, to count the rows of the people without a PhD, use the code shown
# in Listing 4-8.

In [34]:
# Listing 4-8. Code for Computing Aggregate Statistics
df.loc[df['PhD']==0].count()

Name     4
Grade    4
BS       4
MS       4
PhD      4
dtype: int64

In [35]:
# You can use any of the aggregate statistics functions on individual
# columns in the same way. So, to find the average grade of those people
# without a PhD, use the code in Listing 4-9.

In [36]:
# Listing 4-9. Computing Aggregate Statistics on a Particular Column
df.loc[df['PhD']==0]['Grade'].mean()

82.5

In [6]:
# Listing 4-10. Dataset for Exercise
import pandas as pd
names = ['Bob','Jessica','Mary','John',
 'Mel','Sam','Cathy','Henry','Lloyd']
grades = [76,95,77,78,99,84,79,100,73]
bs = [1,1,0,0,1,1,1,0,1]
ms = [2,1,0,0,0,1,1,0,0]
phd = [0,1,0,0,0,2,1,0,0]
GradeList = zip(names,grades,bs,ms,phd)
df = pd.DataFrame(data=GradeList,
 columns=['Names','Grades','BS','MS','PhD'])
df

     Names  Grades  BS  MS  PhD
0      Bob      76   1   2    0
1  Jessica      95   1   1    1
2     Mary      77   0   0    0
3     John      78   0   0    0
4      Mel      99   1   0    0
5      Sam      84   1   1    2
6    Cathy      79   1   1    1
7    Henry     100   0   0    0
8    Lloyd      73   1   0    0

In [7]:
# Your Turn!!!
# Using the data from Listing 4-10, what is the average grade for people with
# master’s degrees?

# Solution!!!
df.loc[df['MS']==0]['Grades'].mean()

85.4

In [39]:
# Sorting Data

In [40]:
# Generally, we get data in a random order, but need to use it in a completely
# different order. We can use the sort_values function to rearrange our data
# to our needs (Listing 4-11).

In [41]:
# Listing 4-11. Loading Data from CSV
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [42]:
# Sort the dataframe’s rows by age, in descending order (Listing 4-12).

In [43]:
# Listing 4-12. Sorting by Age, Descending
df = df.sort_values(by='age', ascending=0)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
1000,Hanna,Mooney,female,19,2,10,88.8,"8293 SW. Cedar Swamp Lane, Union, NJ 07083"
902,Steven,Graham,male,19,4,17,95.1,"90 Grove St., Camas, WA 98607"
818,Colette,Rojas,female,19,4,6,73.3,"17 Pin Oak Street, Villa Park, IL 60181"
822,Rinah,Jacobson,female,19,1,7,80.8,"737 Amherst Court, Amsterdam, NY 12010"
826,Hayes,Wilkinson,male,19,5,3,76.0,"350 Temple Court, Mason City, IA 50401"

In [44]:
# Sort the dataframe’s rows by hours of study and then by exercise, in
# ascending order (Listing 4-13).

In [45]:
# Listing 4-13. Sorting by Hours of Study and Exercise, Ascending
df = df.sort_values(by=['grade', 'age'],
 ascending=[True, True])
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292"
972,Keegan,Rasmussen,male,19,4,3,43.0,"876 East Pilgrim Street, Chelmsford, MA 01824"
1870,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302"
1910,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037"
1494,Jenna,Wagner,female,16,1,3,56.3,"8829 Shore Dr., Hopewell Junction, NY 12533"

In [46]:
# Your Turn!!! (Assignment 6)
# Can you sort the dataframe to order it by name, age, and then grade?

In [47]:
# Correlation

In [48]:
# Correlation is any of a broad class of statistical relationships involving
# dependence, though in common usage it most often refers to the extent
# to which two variables have a linear relationship with each other. Familiar
# examples of dependent phenomena include the correlation between
# the physical statures of parents and their offspring, and the correlation
# between the demand for a product and its price.
# Basically, correlation measures how closely two variables move in the
# same direction. Tall parents have tall kids? Highly correlated. Wear lucky
# hat, but rarely win at cards? Very slightly correlated. As your standard of
# living goes up, your level of savings plummet? Highly negatively correlated.
# Simple, right?

In [49]:
# Well, computing correlation can be a little difficult by hand, but is
# totally simple in Python (Listing 4-14).

In [17]:
# Listing 4-14. Running a Correlation
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()
df.corr()

               age  exercise     hours     grade
age       1.000000 -0.003643 -0.017467 -0.007580
exercise -0.003643  1.000000  0.021105  0.161286
hours    -0.017467  0.021105  1.000000  0.801955
grade    -0.007580  0.161286  0.801955  1.000000

In [18]:
# The intersections with the highest absolute values are the columns that
# are the most correlated. Positive values are positively correlated, which
# means they go up together. Negative values are negatively correlated (as
# one goes up the other goes down). And, of course, each column is perfectly
# correlated with itself. As you can see, hours of study and grade are highly
# correlated.

In [25]:
# Listing 4-15. Load Data from Excel
import pandas as pd
Location = "datasets/SalesIQData.xlsx"

In [26]:
# Your Turn!!!
# Load the data from the code in Listing 4-15 and find the correlations.

# Solution!!!
df = pd.read_excel(Location)
df.corr()

              Sales Person  Intelligence  Extroversion  $ Sales/Week
Sales Person      1.000000     -0.076449      0.061884     -0.099698
Intelligence     -0.076449      1.000000     -0.136584      0.247577
Extroversion      0.061884     -0.136584      1.000000      0.548017
$ Sales/Week     -0.099698      0.247577      0.548017      1.000000

In [54]:
# Regression

In [55]:
# In statistical modeling, regression analysis is a statistical process for
# estimating the relationships among variables. This is a fancy way of saying
# that we use regression to create an equation that explains the value of a
# dependent variable based on one or several independent variables. Let’s
# get our data (Listing 4-16),

In [56]:
# Listing 4-16. Load Data from CSV
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [57]:
# Once we have that, we need to decide what columns we want to perform
# the regression on and which is the dependent variable. I want to try to predict
# the grade based on the age, hours of exercise, and hours of study (Listing 4-17).

In [58]:
# Listing 4-17. First Regression
import statsmodels.formula.api as sm
result = sm.ols(
 formula='grade ~ age + exercise + hours',
 data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     1315.
Date:                Tue, 22 Sep 2020   Prob (F-statistic):               0.00
Time:                        23:45:54   Log-Likelihood:                -6300.7
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1996   BIC:                         1.263e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     57.8704      1.321     43.804      0.000      55.279      60.461
age            0.0397      0.075      0.532      0.595      -0.107       0.186
exercise       0.9893      0.089     11.131      0.000       0.815       1.164
hours          1.9165      0.031     61.564      0.000       1.855       1.978
==============================================================================
Omnibus:                      321.187   Durbin-Watson:                   2.047
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2196.187
Skew:                          -0.567   Prob(JB):                         0.00
Kurtosis:                       8.007   Cond. No.                         213.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [59]:
# The formula format in line two is one that you need to learn and get
# comfortable editing. It shows the dependent variable on the left of the tilde
# (~) and the independent variables we want considered on the right.

In [60]:
# If you look at the results you get from the summary, the R-squared
# represents the percentage of the variation in the data that can be
# accounted for by the regression. .664, or 66.4 percent, is good, but not
# great. The p-value (represented here by the value of P>|t|) represents the
# probability that the independent variable has no effect on the dependent
# variable. I like to keep my p-values less than 5 percent, so the only variable
# that stands out is the age with 59.5 percent. Let’s rerun the regression, but
# leaving out the age (Listing 4-18).

In [61]:
# Listing 4-18. Second Regression
import statsmodels.formula.api as sm
result = sm.ols(
 formula='grade ~ exercise + hours',
 data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     1973.
Date:                Tue, 22 Sep 2020   Prob (F-statistic):               0.00
Time:                        23:47:02   Log-Likelihood:                -6300.8
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1997   BIC:                         1.262e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     58.5316      0.447    130.828      0.000      57.654      59.409
exercise       0.9892      0.089     11.131      0.000       0.815       1.163
hours          1.9162      0.031     61.575      0.000       1.855       1.977
==============================================================================
Omnibus:                      318.721   Durbin-Watson:                   2.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2158.000
Skew:                          -0.564   Prob(JB):                         0.00
Kurtosis:                       7.962   Cond. No.                         43.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [62]:
# Looking at our new results, we haven’t changed our R-squared, but
# we have eliminated all our high p-values. So, we can now look at our
# coefficients, and we will end up with an equation that looks something
# like grade = 1.916 * hours of study +.989 * hours of exercise +
# 58.5316

In [63]:
# Your Turn (Assignment 6)
# Create a new column where you convert gender to numeric values, like
# 1 for female and 0 for male. Can you now add gender to your regression?
# Does this improve your R-squared?

In [64]:
# Regression without Intercept

In [65]:
# Sometimes, your equation works better without an intercept. This can
# happen even though your p-values indicate otherwise. I always try it both
# ways, just as a matter of course, to see what the R-Squared is. To run your
# regression without an intercept, simply follow Listing 4-19.

In [31]:
# Listing 4-19. Run Regression without Intercept
import pandas as pd
import statsmodels.formula.api as sm
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()
result = sm.ols(formula='grade ~ age + exercise + hours - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  grade   R-squared (uncentered):                   0.991
Model:                            OLS   Adj. R-squared (uncentered):              0.991
Method:                 Least Squares   F-statistic:                          7.284e+04
Date:                Sat, 26 Sep 2020   Prob (F-statistic):                        0.00
Time:                        18:37:34   Log-Likelihood:                         -6974.3
No. Observations:                2000   AIC:                                  1.395e+04
Df Residuals:                    1997   BIC:                                  1.397e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age            3.1129      0.035     88.030      0.000       3.044       3.182
exercise       1.7659      0.122     14.482      0.000       1.527       2.005
hours          2.2860      0.042     54.486      0.000       2.204       2.368
==============================================================================
Omnibus:                      131.221   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              403.367
Skew:                          -0.301   Prob(JB):                     2.57e-88
Kurtosis:                       5.116   Cond. No.                         14.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [67]:
# Note that it is the - 1 at the end of the formula that tells Python that
# you wish to eliminate the intercept. If you look at the results, you can see
# we now have a much higher R-squared than we had in the last lesson, and
# we also have no p-values that cause us concern.

In [9]:
# Your Turn!!!
# Try running these simple regressions with no intercept: 
# 1. Tests for the relationship between just grade and age; 
# 2. Tests for the relationship between just grade and exercise; and
# 3. Tests for the relationship between just grade and study hours.
# If you had to pick just one, which one do you like best?

# Solution!!! (Part 1)

import pandas as pd
import statsmodels.formula.api as sm
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)

# 1. Tests for the relationship between just grade and age; 
result = sm.ols(formula='grade ~ age - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  grade   R-squared (uncentered):                   0.976
Model:                            OLS   Adj. R-squared (uncentered):              0.976
Method:                 Least Squares   F-statistic:                          8.083e+04
Date:                Mon, 05 Oct 2020   Prob (F-statistic):                        0.00
Time:                        11:35:43   Log-Likelihood:                         -7954.5
No. Observations:                2000   AIC:                                  1.591e+04
Df Residuals:                    1999   BIC:                                  1.592e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age            4.9277      0.017    284.306      0.000       4.894       4.962
==============================================================================
Omnibus:                        5.034   Durbin-Watson:                   1.952
Prob(Omnibus):                  0.081   Jarque-Bera (JB):                5.089
Skew:                          -0.114   Prob(JB):                       0.0785
Kurtosis:                       2.906   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
# Solution!!! (Part 2)

import pandas as pd
import statsmodels.formula.api as sm
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)

# 1. Tests for the relationship between just grade and exercise;
result = sm.ols(formula='grade ~ exercise - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  grade   R-squared (uncentered):                   0.820
Model:                            OLS   Adj. R-squared (uncentered):              0.820
Method:                 Least Squares   F-statistic:                              9094.
Date:                Mon, 05 Oct 2020   Prob (F-statistic):                        0.00
Time:                        11:37:12   Log-Likelihood:                         -9965.0
No. Observations:                2000   AIC:                                  1.993e+04
Df Residuals:                    1999   BIC:                                  1.994e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
exercise      22.6657      0.238     95.363      0.000      22.200      23.132
==============================================================================
Omnibus:                      551.975   Durbin-Watson:                   1.654
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               90.877
Skew:                           0.044   Prob(JB):                     1.85e-20
Kurtosis:                       1.960   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
# Solution!!! (Part 3)

import pandas as pd
import statsmodels.formula.api as sm
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)

# 1. Tests for the relationship between just grade and study hours;
result = sm.ols(formula='grade ~ hours - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  grade   R-squared (uncentered):                   0.929
Model:                            OLS   Adj. R-squared (uncentered):              0.929
Method:                 Least Squares   F-statistic:                          2.633e+04
Date:                Mon, 05 Oct 2020   Prob (F-statistic):                        0.00
Time:                        11:38:09   Log-Likelihood:                         -9027.3
No. Observations:                2000   AIC:                                  1.806e+04
Df Residuals:                    1999   BIC:                                  1.806e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
hours          6.8407      0.042    162.273      0.000       6.758       6.923
==============================================================================
Omnibus:                        7.010   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.030   Jarque-Bera (JB):                5.684
Skew:                          -0.032   Prob(JB):                       0.0583
Kurtosis:                       2.747   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# I would pick the first regression which tests for the relationship between just grade and age. 
# Since, the adjusted r-squared is highest among the models. P-value for age is also very small i.e. less than 5 percent.

In [71]:
# Basic Pivot Table

In [72]:
# Pivot tables (or crosstabs) have revolutionized how Excel is used to do
# analysis. However, I like pivot tables in Python better than I do in Excel.
# Let’s get some data (Listing 4-20).

In [73]:
# Listing 4-20. Load Data from CSV
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [74]:
# At its simplest, to get a pivot table we need a dataframe and an index
# (Listing 4-21).

In [75]:
# Listing 4-21. Get Averages of All Numeric Columns Categorized by
# Gender
pd.pivot_table(df, index=['gender'])

           age  exercise    grade   hours
gender
female  16.568     3.047  82.7173  10.932
male    16.589     2.954  82.3948  11.045

In [76]:
# As you can see, pivot_table is smart enough to assume that we want
# the averages of all the numeric columns. If we wanted to specify just one
# value, we could do that (Listing 4-22).

In [77]:
# Listing 4-22. Average Grade by Gender
pd.pivot_table(df,
 values=['grade'],
 index=['gender'])

          grade
gender
female  82.7173
male    82.3948

In [78]:
# Now we see just the average grades, categorized by gender. If we wanted
# to, however, we could look at minimum hours of study (Listing 4-23).

In [79]:
# Listing 4-23. Minimum Grade by Gender
pd.pivot_table(df,
 values=['grade'],
 index=['gender'],
 aggfunc='min')

        grade
gender
female   32.0
male     43.0

In [80]:
# We can also add other columns to the index. So, to view the maximum
# grade categorized by gender and age, we simply run the code in Listing 4-24.

In [81]:
# Listing 4-24. Max Grade by Gender and Age
pd.pivot_table(df,
 index=['gender','age'],
 aggfunc='max',
 values=['hours'])

            hours
gender age
female 14      20
       15      20
       16      19
       17      20
       18      20
       19      20
male   14      19
       15      20
       16      20
       17      20
       18      20
       19      20

In [82]:
# We can also have multiple value columns. So, to show the average
# grade and hours of study by gender, we can run the code in Listing 4-25.

In [83]:
# Listing 4-25. Average Grade and Hours by Gender
pd.pivot_table(df,
 index=['gender'],
 aggfunc='mean',
 values=['grade','hours'])

          grade   hours
gender
female  82.7173  10.932
male    82.3948  11.045

In [84]:
# We can also perform pivot tables on subsets of the data. First, select
# your data, then do a standard pivot on that selection. So, to show the
# average grade and hours of study by gender for students who are 17 years
# old, we can run the code in Listing 4-26.

In [85]:
# Listing 4-26. Average Grade and Hours by Gender
df2 = df.loc[df['age'] == 17]
pd.pivot_table(df2,index=['gender'],
 aggfunc='mean',
 values=['grade','hours'])

            grade      hours
gender
female  83.599435  10.943503
male    82.949721  11.268156

In [86]:
# Finally, we can include totals on our Python pivot tables, as shown in
# Listing 4-27.

In [87]:
# Listing 4-27. Average Grade and Hours by Gender
df2 = df.loc[df['age'] == 17]
pd.pivot_table(df2,
 index=['gender'],
 aggfunc='mean',
 values=['grade','hours'],
 margins='True')

            grade      hours
gender
female  83.599435  10.943503
male    82.949721  11.268156
All     83.272753  11.106742

In [6]:
# Your Turn!!!
# Can you create a pivot table showing the average grade by gender of
# people who had more than two hours of exercise?

# Solution!!!
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

df3 = df.loc[df['hours'] > 2]
pd.pivot_table(df3,
 index=['gender'],
 aggfunc='mean',
 values=['grade'])

            grade
gender
female  82.818492
male    82.594213